<footer>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <img src="/assets/images/logo.png" alt="Logo" height="auto">
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="#" class="navbar-item">HOME</a>
          <a href="#" class="navbar-item">ABOUT</a>
          <a href="#" class="navbar-item">FOR ADVERTISING</a>
          <a href="#" class="navbar-item">SITE MAP</a>
          <a href="#" class="navbar-item">CONTACT</a>
        </div>
      </div>
    </nav>
  </div>
</footer>